# After making changes here, run:
#    pip-compile --rebuild requirements-app.in && pip install -r requirements-app.txt

# OpenDP:
opendp[polars]==0.12.1a20250227001

# Conversion:
jupytext
jupyter-client
pyyaml
nbconvert
ipykernel
# May also require:
# python -m ipykernel install --name kernel_name --user

# Shiny:
shiny
faicons

# Visualization:
matplotlib
