# After making changes here, run scripts/requirements.py.

# OpenDP:
opendp[polars]==0.13.0

# Conversion:
jupytext
jupyter-client
pyyaml
nbconvert
ipykernel
black
# May also require:
# python -m ipykernel install --name kernel_name --user

# Shiny:
shiny
faicons

# Visualization:
matplotlib

# Dependabot warnings:
tornado>=6.5
requests>=2.32.4
urllib3>=2.5.0
pillow>=11.3.0
starlette>=0.47.2
